<ion-view view-title="ERGE" class="bgImgdivCls">
  <p class="jobs-title">COMPLETED JOBS</p>
  <ion-content style="margin-top: 45px;">
    <div class="detail-jobs-parent">
      <div class="container">
        <ion-list>
          <ion-item ng-repeat="item in CompletedJobsList" ng-click="goToSingleCompletedJobDetailsView(item)"class="abc" >
            <div class="box">
              <div class="box-header">
                <div class="box-header-left-fixed"><img src="{{item.profile_pic}}" alt=""></div>
                <div class="box-header-left-big">
                  <strong>Name</strong>

                  <p>{{item.l_name}}</p>

                  <p style="margin-top: 10px;color: black;">{{item.description}}</p>
                </div>
              </div>
              <hr>
              <div class="box-body">
                <table width="100%">
                  <tr>
                    <td align="right">Start Point:</td>
                    <td class="column">{{item.start_loc}}</td>
                  </tr>
                  <tr>
                    <td align="right">End Point:</td>
                    <td class="column">{{item.dest_loc}}</td>
                  </tr>
                  <tr>
                    <td align="right">Fare:</td>
                    <td class="column">${{item.price}}</td>
                  </tr>
                 <!-- <tr>
                    <td align="right"><img src="img/jobComplete_21.png" class="attachment" alt=""></td>
                    <td class="column" style="color: #0092ef;text-decoration: underline"
                        ng-click="openImageViewerPopover(item.attachment)">&lt;!&ndash;{{item.filename}}&ndash;&gt;attachment
                    </td>
                  </tr>
                  <tr>
                    <td align="right">Duration:</td>
                    <td class="column">{{item.jobCompleteDuration}}</td>
                  </tr>-->
                  <tr>
                    <td align="right">&nbsp;</td>
                    <td class="column">
                      <div ng-hide="true">{{rating.rate = item.rating}}</div>
                      <rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating>

                      <!-- <div class="ratings">
                         <i class="ion-ios-star"></i>
                         <i class="ion-ios-star"></i>
                         <i class="ion-ios-star"></i>
                         <i class="ion-ios-star"></i>
                         <i class="ion-ios-star"></i>
                       </div>-->

                    </td>
                  </tr>
                </table>
              </div>
            </div>

      </div>
      </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

