.change-password{
	padding-top: 20px;
	h4{
		color: #FFF;
		margin: 0px 0px 40px;
		font-size: 18px;
	}
	.change-pass-field{
		@extend .form-field;
	}
}

.forget-widget{
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	transform: translate(0%, -50%);
	padding: 0px 20px;
	h4{
		color: #FFF;
		font-size: 22px;
		text-transform: uppercase;
		margin: 0px;
	}
	p{
		font-size: 9px;
		color: #FFF;
		margin-bottom: 20px;
	}
	label{
		display: block;
		margin-bottom: 20px;
		span{
			display: block;
			margin-bottom: 5px;
			color: #FFF;
			font-size: 11px;
		}
		input{
			width: 100%;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			height: auto;
			padding: 10px !important;
			color: #FFF;
			border: 0px;
		}
	}
	button{
		width: 100%;
	}
}