<ion-view class="bgImgdivCls" title="ERGE">
  <ion-content>
    <!--main parent div-->
    <div class="container">
      <!--logo div-->
<!--<div>-->
  <!--<h1 class="btn" style="background-color: #003672;line-height: 40px;">ERGE</h1>-->
<!--</div>-->
      <p style="color: white;font-size: 25px;margin-top: 20%;">CHANGE PASSWORD</p>


      <!--user role buttons div end-->
      <!--data fields div start-->

      <div class="form-group">
        <label class="white-label change-pass-labels">CURRENT PASSWORD</label>
        <input type="text" class="input-group" ng-model="changePasswordData.password">
        <label class="white-label change-pass-labels">ENTER NEW PASSWORD</label>
        <input type="text" class="input-group" ng-model="changePasswordData.new_password">
        <label class="white-label change-pass-labels">CONFIRM PASSWORD</label>
        <input type="text" class="input-group" ng-model="changePasswordData.confirm_password">


        <input type="button" value="SAVE" class="btn" style="background-color: #003672;margin-top: 75px;" ng-click="changePassword()">
      </div>

      <!--data fields div start-->

    </div>


  </ion-content>
</ion-view>
