<ion-view class="bgImgdivCls">
  <ion-content class="bgImgdivCls">
    <div class="forget-widget">
      <h4>FORGOT PASSWORD?</h4>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
      <label>
        <span>Enter Email ID</span>
        <input type="email" placeholder="Email Address" ng-model="forgetPasswordData.email">
      </label>
      <button class="blue-btn" ng-click="forgetPass()">Save</button>
    </div>
    <!-- <div class="list">
      <div class="item item-input-inset" style="border: none;">
        <label class="item-input-wrapper" style="height: 40px;">
          <input type="text" placeholder="Email" ng-model="forgetPasswordData.email">
        </label>
      </div>
    </div>
    <div class="sendEmailModalBtn" style="" ng-click="forgetPass()">
      SEND
    </div> -->
  </ion-content>
</ion-view>
