<ion-popover-view  class="fgPopover">
  <ion-header-bar style="background-color:  #003672;position: relative;">
    <h1 class="title" style="color: white">FORGOT PASSWORD</h1>
  </ion-header-bar>
  <div style="margin: 50px 0px 5px 10px;">
    <label class="PopoverLabel">ENTER YOUR EMAIL</label>
  </div>

  <div class="list">

    <div class="item item-input-inset" style="border: none;">
      <label class="item-input-wrapper" style="height: 40px;">
        <input type="text" placeholder="Email" ng-model="forgetPasswordData.email">
      </label>
    </div>
  </div>
  <div class="sendEmailModalBtn" style="" ng-click="forgetPass()">
    SEND
  </div>


</ion-popover-view>
