<ion-view class="bgImgdivCls" view-title="ERGE">
  <ion-content>
    <!--main parent div-->
    <div class="container">
      <div class="user-info">
        <figure>
          <img src={{profileData.profile_pic}} ng-click="showActionsheet()">
        </figure>
        <figcaption>
          <rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating>
          <h4>
            <span>
              <input type="text" class="input-group" ng-model="profileData.f_name"  ng-disabled="editorEnabled">
            </span>
            <img class="profile-edit-icon" src="img/{{editbutton}}" ng-click="editButtonFunction()">
          </h4>
        </figcaption>
      </div>
      <div class="user-class">
        <h4>USER CLASS</h4>
        <div class="btn-group">
          <button class="blue-btn">{{profileData.roll}}</button>
          <button class="darkblue-btn">CONECIERGE</button>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
        </div>
      </div>
      <div class="profile-form-field">
        <label class="full-field">
          <span>My Location</span>
          <input type="text" placeholder="Enter your home address, Apt# and ZIP" ng-model="profileData.location" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-disabled="editorEnabled">
        </label>
        <label class="full-field">
          <span>Mobile Num</span>
          <input type="text" class="input-group" ng-model="profileData.mobile"  ng-disabled="editorEnabled"/>
        </label>
        <label class="full-field">
          <span>Email ID</span>
          <input type="email" class="input-group" ng-model="profileData.email"  ng-disabled="true"/>
        </label>
        <label class="full-field">
          <span>Bio</span>
          <textarea rows="4" type="text" class="input-group" ng-model="profileData.bio"  ng-disabled="editorEnabled"></textarea>
        </label>
        <div class="erge-icon" ng-click="showPrivacyPolicyPopup()">
          ERGE <u><b>privacy policy</b></u>
        </div>
        <label>
          <input type="button" value="SAVE" class="blue-btn"               ng-click="saveprofile()">
        </label>
      </div>
      




      <!--logo div-->
      <!-- <div class="profile-item">
        <img src={{profileData.profile_pic}} ng-click="showActionsheet()">

        <div class="meta-info">
          <div class="profile-name">
            <label class="userclass-label">USER CLASS</label>
            <label class="user-role-label">{{profileData.roll}}</label>
            <rating ng-model="rating.rate" max="rating.max" readonly="readOnly"></rating> -->
            <!--<ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>-->
           <!-- <div class="pratings">
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
            </div>-->
          <!-- </div>
          <img class="profile-edit-icon" src="img/{{editbutton}}" ng-click="editButtonFunction()">

        </div>
      </div> -->
      <!--user role button div start-->
      <!--<progress max="100" value="0" id="prog" ng-show="{{showprogess}}" style="width: 70%"></progress>-->

      <!-- <div class="form-group"> -->
        <!-- <div class="float-left">
          <label class="white-label">FIRST NAME</label>
          <input type="text" class="input-group" ng-model="profileData.f_name"  ng-disabled="editorEnabled">
        </div>
        <div class="float-right">
          <label class="white-label">LAST NAME</label>
          <input type="text" class="input-group" ng-model="profileData.l_name"  ng-disabled="editorEnabled">
        </div> -->
      <!-- </div> -->
      <!--data fields div start-->
      <!-- <div class="form-group" style="position: relative">
        <label class="item item-input" style="background: #daf2ff;padding: 0 5px;border: none;line-height: 12px;"> -->
          <!--<i class="icon ion-person placeholder-icon">-->
          <!-- <i class="">
            <img src="img/Profile_07.png" class="textFieldIconsCls">
          </i> -->
          <!--<input type="text" id="autocomplete"  onFocus="geolocate()" ng-model="profileData.location" ng-disabled="editorEnabled" />-->
          <!-- <input type="text" placeholder="Enter your home address, Apt# and ZIP" ng-model="profileData.location" googleplace="" class="ng-pristine ng-valid" autocomplete="off" ng-disabled="editorEnabled"> -->
          <!-- googleplace -->

        <!-- </label>
      </div>
      <div class="form-group">
        <label class="white-label">MOBILE</label>
        <input type="text" class="input-group" ng-model="profileData.mobile"  ng-disabled="editorEnabled"/>
      </div>
      <div class="form-group">
        <label class="white-label">EMAIL</label>
        <input type="text" class="input-group" ng-model="profileData.email"  ng-disabled="true"/>
      </div>
      <div class="form-group">
        <label class="white-label">BIO</label>
        <textarea rows="4" type="text" class="input-group" ng-model="profileData.bio"  ng-disabled="editorEnabled"></textarea>
        <label  ng-click="showPrivacyPolicyPopup()" class="white-label" style="padding-top: 10px;font-family: RobotoLight;">ERGE <u  style="color: #003672;text-decoration: underline;padding-top: 10px;font-family: RobotoBold;"><b>privacy policy</b></u></label>
      </div>
      <div class="form-group">
        <input type="button" value="SAVE" class="btn" style="background-color: #003672;border: none;"
               ng-click="saveprofile()">
      </div> -->
      <!--data fields div start-->
    </div>
  </ion-content>
</ion-view>
