.chatBg{
	background-image: url(../img/chat-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.msg-list{
	padding: 10px;
	li{
		width: 80%;
		display: table;
		margin-bottom: 30px;
		&.msg-right{
			float: right;
		}
		&.msg-left{
			span{
				background: #000000;
				color: #FFF;
				border-radius: 8px 8px 8px 0px;
			}
		}
		span{
			display: table-cell;
			vertical-align: middle;
			padding: 3px 6px;
			border-radius: 8px 8px 0px 8px;
			background: #f8f8f8;
			border: 1px solid #ececec;
			font-size: 13px;
		}
		em{
			display: table-cell;
			vertical-align: middle;
			padding: 10px;
			font-size: 11px;
			width: 65px;
		}
		.user-img{
			display: table-cell;
			vertical-align: middle;
			figure{
				width: 30px;
				height: 30px;
				overflow: hidden;
				border-radius: 50%;
				img{
					width: 100%;
				}
			}
		}
	}
}

.msge-field{
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
	display: flex;
	border-top: 1px solid #e0e0e0;
	z-index: 999999;
	>input{
		display: inline-flex;
		vertical-align: middle;
		height: 100%;
		width: 15%;
		padding: 20px;
		&[type="text"]{
			width: 70%;
		}
		&[type="submit"]{
			background: url(../img/send-btn.png) no-repeat center center;
			background-size: 20px;
			border: 0px;
			text-indent: -999999px;
		}
	}
	label{
		display: inline-flex;
		vertical-align: middle;
		width: 15%;
		background: url(../img/file-btn.png) no-repeat center center;
		padding: 10px;
		background-size: 12px;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		input{
			visibility: hidden;
			display: inline-block;
			width: 1px;
		}
	}
}