.splash-logo{
	position: absolute;
	left: 50%;
	top: 48%;
	transform: translate(-50%, -50%);
	img{
		width: 100px;
	}
}

.splash-btn{
	padding: 0px 20px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	button{
		width: 100%;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	p{
		color: #FFF;
	}
}